:root {
  --background-color: #f9f7fe;
  --branding-color: #6c63ff;
  --font-title: "Playfair Display", serif;
  --font-content: "Poppins", sans-serif;
}

body {
  font-family: var(--font-content);
  color: black;
}

nav {
  padding: 10px 0px;
  line-height: 40px;
}

.foto {
  padding: 5px 5px;
  border-radius: 50%;
  background-color: var(--background-color);
}

nav ul {
  margin-bottom: 0px;
}

nav li {
  display: inline;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 10px;
}

nav a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

nav a:hover,
nav .active {
  color: var(--branding-color);
}

/*hr {
  color: var(--branding-color);
  margin: 0px;
  border-width: 2px;
  opacity: 20%;
}*/

.head-content,
.about-content,
.contact-content,
.work-content {
  padding: 60px 20px;
}

.head-content {
  text-align: center;
  background-color: var(--background-color);
}

.head-content p {
  opacity: 0.9;
  font-size: 36px;
  font-weight: 700;
}

h1 {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

.about-content h1,
.contact-content h1,
.work-content h1 {
  font-size: 64px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

.about-content h2 {
  font-size: 18px;
  font-weight: 700;
}

.work-content h2 {
  font-size: 24px;
  font-weight: 700;
}

.about-content p,
.work-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  opacity: 80%;
}

.about-content img,
.work-content img {
  border-radius: 20px;
}

.contact-content h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.contact-content p {
  font-size: 14px;
  font-weight: 500;
}

.btn-design {
  background-color: var(--branding-color);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 18px 30px;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.4);
  transition: all 200ms ease;
  border-radius: 4px;
}

.btn-design:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.paragraph {
  font-size: 16px;
  font-weight: 400p;
}

.section-project {
  padding: 50px 50px;
}

.project-title {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
}

.description-project {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  line-height: 30px;
}

.btn-detail {
  border-radius: 4px;
  border-color: var(--branding-color);
  color: var(--branding-color);
  padding: 18px 30px;
}

.btn-detail:hover {
  background-color: var(--branding-color);
  color: white;
}

.footer-inquiry {
  background-color: var(--background-color);
  padding: 25px 100px 25px;
  border-radius: 10px;
}

.footer-inquiry h3 {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 48px;
}

.footer-inquiry p {
  font-family: var(--font-content);
  font-weight: 400;
  font-size: 18px;
  opacity: 70%;
}

footer .mail a {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

footer .mail a:hover {
  color: var(--branding-color);
}

footer .social-link i {
  font-size: 18px;
  color: var(--branding-color);
  padding: 10px;
  border-radius: 50%;
  transition: all 200ms ease;
}

footer .social-link i:hover {
  color: white;
  background-color: var(--branding-color);
}

footer .social-link a {
  margin: 0px 25px;
}

footer .footnote {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 992px) {
  h1,
  .about-content h1,
  .contact-content h1,
  .work-content h1 {
    font-size: 44px;
  }

  .about-content,
  .contact-content,
  .work-content {
    text-align: center;
    padding: 0px 20px;
  }

  .project-title {
    font-size: 38px;
    text-align: center;
  }

  .section-project {
    text-align: center;
    padding: 0px;
  }
}

@media (max-width: 882px) {
  nav li {
    font-size: 16px;
  }
  footer .mail a {
    font-size: 20px;
  }
}
